#container {
    background-color: #F1F1F1;
    max-width: 1200px;
    margin:auto;
    padding: 20px;
}

.firstbox {
    display:flex;
    justify-content: space-between;
}

.logo {
    width: 40%;
    padding: 40px;
    background-color: aliceblue;
}

.rightbox {
    width:50%;
}


.phnum {
    margin-left:410px;
    text-align: center;
    background-color: aliceblue;
    padding:5px;
    width:30%;
}

.menu {
    text-align: center;
    padding:3px;
    background-color: aliceblue;
    margin-top: 20px;
}

.imgslds {
    background-color:aliceblue;
    text-align: center;
    padding: 80px;
    background-image: url("../image/headbg.png");
    background-size: cover;
    margin-top: 20px;
}

.thbox {
    display: flex;
    justify-content: space-between;
}

.textcon {
    text-align: center;
    padding: 30px;
    background-color: aliceblue;
    margin-top: 20px;
    color:blue;
    font-weight: 900;
    width:65%;
    height: 50%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: black;
    margin-top: 20px;
    margin-left: 20px;
}

.sidebar a{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #F1F1F1;
}

.sidebar a:hover {
    background-color: #ddd;
    color: black;
}

.footer {
    margin-top: 20px;
    background-color:aliceblue;
    display: flex;
    padding: 20px;
}

@media screen and (max-width: 600px) {
    .firstbox{
        flex-direction: column;
    }

    .thbox {
        margin-top: -20px;
        flex-direction: column;
    }

    .textcon {
        width: 87%;
    }

    .sidebar {
        margin-top: -0px;
        width:90%;
    }

    .footer {
        margin-top: -0px;
    }
}