body {
    max-width:1900px;
}

.container {
    height: auto;
    background-color: #C4D7E0;
}

body {
    margin:auto;
    font-family: 'Epilogue', sans-serif;
}

.box1 {
    background-color: #6E85B7;
    height: 400px;
}

.topnav {
    display:flex;
    justify-content: space-between;
    padding:20px;
    width: 80%;
    margin-left: 120px;
}

.leftbar {
    width: 70%;
}

.logo {
    width: 5%;
    text-align: center;
    color:#ffffff;

}

.logo a {
    font-size: 30px;
    color:#ffffff;
    text-decoration: none;
}

.navigation {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.navigation a {
    color:#ffffff;
    text-decoration: none;
}

.navigation a:hover {
    color: black;
}

.contact {
    display: flex;
    border:solid 0.5px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    border-radius: 20px;
    margin-left: 50px;
}

.contact .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.aboutme {
    color:#ffffff;
    font-size: 80px;
    text-align: center;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (min-width:600px) {
    .icon {
        display: none;
    }
    
}

@media screen and (max-width: 600px) {
    .topnav {
        margin-left: 0px;
        padding:30px;
    }
    
    .navigation {
        flex-direction: column;
        display: block;
    }

    .navigation a {
        text-align: left;
        display: none;
    }

    .contact {
        display: none;
    }

    .navigation a.icon {
        position: absolute;
        display: block;
        margin-top: 20px;
        right: 40px;
    }
}

i {
    color: lightblue;
}

/*page2 contant 1*/

.contant1 {
    display: flex;
    justify-content: center;
    padding:100px;
}

.contant1 img {
    border-radius: 100px;
} 

.jacky {
    width: 50%;
    color:#5C2000;
    font-size: 1.5vw;
    margin-left: 30%;
}

.jacky h5 {
    color: #EF6D58;
}

.foodbox {
    text-align: center;
    background-image: url(../image/dotdot.png);
    background-repeat:no-repeat;
    padding:50px;
    width: 60%;
    background-position: right top;
    color:#5C2000;
}

.food {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foodimg {
    padding:20px;
    width: 50%;
}

.foodword {
    font-weight: 900;
    font-size: 2vw;
    width: 45%;
}

@media screen and (max-width: 500px) {
    .contant1 {
        padding:0px;
        margin-top: 30px;
    }

    .contant1 img {
        border-radius: 50px;
    }

    .jacky {
        margin-left: 0;
        font-size: 5vw;
        width: 95%;
        padding: 10px;
    }

    .jacky img {
        width: 95%;
        padding:10px;
        border-radius: 50px;
    }

    .foodbox {
        font-size: 10vw;
        text-align: left;
        width: 70%;
    }

    .food {
        display: block;
    }

    .foodword {
        font-size: 10vw;
        width: 95%;
        margin:20px;
    }

    .foodimg {
        width: 95%;
    }

    .foodimg img {
        border-radius: 50px;
    }
    
}


/*Footer*/
.personal {
    padding:80px 130px 80px 130px;
    display: flex;
    justify-content: space-between;
    
}

.footer {
    background-color: #28293E;
    margin-top: 15%;
}

.footer h6 {
    color: #EF6D58;
}

.personalword1 {
    font-weight: 900;
    color:#ffffff;
}

.personalword2 {
    font-weight: 900;
    color:#ffffff;
}

.personalword2 a {
    color:#ffffff;
    text-decoration: none;
}

.personalimg {
    background-color: #EF6D58;
    border-radius: 50%;
    padding:30px;
    height: 20px;
    margin-left: 10px;
}

hr {
    max-width: 80%; 
}

.box4 {
    display: flex;
    padding: 80px 130px 80px 130px;
    justify-content: space-between;
}

.copyright {
    color:#ffffff;
}

@media screen and (max-width: 500px) {
    .personal {
        display:block;
        text-align: center;
    }

    .box4 {
        display: block;
        width: 100%;
        padding:0px;
        align-items: center;

    }

    .copyright {
        text-align: center;
        border: #ffffff;
        padding: 50px;
    }

    .container {
        height: auto;
    }

    .personalword2 {
        margin-top: 50px;
    }
}