.container {
    margin-top: -8px;
    margin-left:-8px;
    margin-right:-8px;
    height: 3000px;
    background-color: #C4D7E0;

}

/*page 1 box 1*/
.box1 {
    background-image: url(../image/it\ background2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 800px;
}

.topnav {
    display:flex;
    justify-content: space-between;
    padding:20px;
    width: 80%;
    margin-left: 120px;
}

.leftbar {
    width: 70%;
}

.logo {
    width: 5%;
    text-align: center;
    color:#ffffff;

}

.navigation {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.navigation a {
    color:#ffffff;
}

.navigation a:hover {
    color: black;
}

.contact {
    display: flex;
    border:solid 0.5px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    border-radius: 20px;
    margin-left: 50px;
}

.contact .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (min-width:600px) {
    .icon {
        display: none;
    }
    
}

@media screen and (max-width: 600px) {
    .topnav {
        margin-left: 0px;
        padding:30px;
    }
    
    .navigation {
        flex-direction: column;
        display: block;
    }

    .navigation a {
        text-align: left;
        display: none;
    }

    .contact {
        display: none;
    }

    .navigation a.icon {
        position: absolute;
        display: block;
        margin-top: 20px;
        right: 40px;
    }
}

i {
    color: #ffffff;
}

/*page 1contant 2*/


.contant1 {
    width: 80%;
    border:solid #ffffff;
    margin-left: 120px;
    padding:20px;
    margin-top: 80px;
    color:#ffffff;
}
.contant1 h1 {
    font-size: 60px;
}

.contant1 .button {
    border: none;
    border-radius: 20px;
    background-color: #DCD7C9;
    color: #A27B5C;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    
    .contant1 {
        margin-left: 0px;
        width: 30%;
    }
}

/*page 1 box 2*/
.box2 {
    height:1300px;
    margin-top: 10px;
    border:solid;
}


.pg1head2 {
    color: #5C2000;
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
}

.contant2 {
    display: flex;
    justify-content: space-between;
    padding:80px;
    align-items: center;
}

.mypicture {
    width: 45%;
}

.myintro {
    width: 45%;
    font-size: 30px;
    color:#5C2000;
}

.myintro .button {
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: #391400;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.expbox {
    padding:80px;
    display:flex;
}

.years {
    width: 45%;
    padding: 30px;
    display: flex;
    padding: 20px;
    align-items: center;
    color: #6E85B7;
}

.years h3 {
    font-size: 3vw;
    color: #6E85B7;
}

.yearsimg {
    background-color: #6E85B7;
    border-radius: 60px;
    padding: 30px;
}

.expcontant {
    margin-left: 50px;
    font-size: 2vw;
}

.exe {
    width: 45%;
    border:solid;
    background-color: #6E85B7;
    padding:30px;
    display: flex;
    align-items: center;
    color: #C4D7E0;
}

.exeimg {
    background-color: #C4D7E0;
    border-radius: 50%;
    padding:30px;
}

/*page 1 box 3*/

.box3 {
    height:2000px;
    margin-top: 10px;
    background-color:#28293E;
}

.contant3 {
    display:flex;
}

.form {
    background-color: #ffffff;
    width: 35%;
    align-items:center;
    margin-top: 15%;
    margin-left: 5%;
    padding: 2vw 4vw 5vw 2vw;
    border-radius: 10px;
}

input[type=text], select{
    width: 100%;
    padding: 12px;
    margin: 8px 2px;
    display: inline-block;
    border: 1px solid #F3D1BF;
    box-sizing: border-box;
    border-radius: 5px;
}

.formq1 {
    width: 100%;
}



.contact2 {
    width: 45%;
    margin-top: 15%;
    display: block;
    text-align: left;
    padding-left:70px;
    padding-top: 20px;
    font-size: 1.5vw;
    border:none;
    color:#ffffff;
}

.contact2 h5 {
    color:#EF6D58;
}

.contant2img {
    background-color: #EF6D58;
    border-radius: 50%;
    padding:20px;
    width: 30px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contact2word {
    display: flex;
    align-items: center;
}

.contact2word p {
    margin-left: 30px;
}

.pg1img {
    margin-top: 15%;
    display: flex;
    flex-wrap: wrap;
}

.pg1img img{
    width: 16.66%;
}


/*Footer*/
.personal {
    padding:80px 130px 80px 130px;
    display: flex;
    justify-content: space-between;
}

.footer {
    background-color: #28293E;
    margin-top: 15%;
}

.footer h6 {
    color: #EF6D58;
}

.personalword1 {
    font-weight: 900;
    color:#ffffff;
}

.personalword2 {
    font-weight: 900;
    color:#ffffff;
}

.personalimg {
    background-color: #EF6D58;
    border-radius: 50%;
    padding:30px;
    height: 20px;
    margin-left: 10px;
}

.personalicon {
    display: flex;

}

hr {
    max-width: 80%; 
}

.box4 {
    display: flex;
    padding: 80px 130px 80px 130px;
    justify-content: space-between;
}

.copyright {
    color:#ffffff;
}

.terms {
    color:#ffffff;
    display: flex;
    width: 20%;
    justify-content: space-between;
}

@media screen and (max-width: 500px) {
    .personal {
        display:block;
        text-align: center;
    }

    .box4 {
        display: block;
        width: 100%;
        padding:0px;
        align-items: center;

    }

    .terms {
        width: 100%;
    }

    .copyright {
        text-align: center;
        border: #ffffff;
    }

    .container {
        height: auto;
    }

    .personalword2 {
        margin-top: 50px;
    }

    .personalicon {
        margin-top:90px;
    }
}